/* $primary-color: #7001FD;
$text-color: #555555;
$secondary-color: #1E2772;
$gray-bg: #EEEEEE; */

main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.main-section{
    gap: 8px;
    flex-grow: 1;
    background-color: lightgray;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100% !important; 
}

.form-section{
    flex-grow: 0.3;
    padding: 0 35px;
    
    h2{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 45px;
    }

    .btn-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        width: 100%;

        button{
        width: 100%;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 500;
        border: none;
        background-color: transparent;
        padding: 12px 24px;
        cursor: pointer;

            &.btnPrimary{
                background-color: #7001FD;
                color: aliceblue;
            }

            &.btnSecond{
                border: 1px solid #7001FD;
                color: #7001FD;
            }
        }

        .divider{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            color:  lightgray;
            font-weight: 400;
            gap: 20px;
            text-transform: uppercase;
            width: 100%;
                
            div{
                flex-grow: 1;
                background-color: lightgray;
                height: 2px;
            }
        }
    }
    
}


