/* styles.css */
body{
    font-family: 'Roboto', sans-serif;
}

.row{
    margin: 0;
}

.container{
    padding: 10px 0;
}

p, li{
    color: #444;
    font-size: 14px;
}

/* Navbar */
header, .navbar{
    background-color: #353D41 !important;
}

#nav-container{
    padding-top: 0;
    padding-bottom: 0;
}

.logo{
    width: 75px;
}

.navbar-brand{
    padding: 0;
    color: #fff !important;
}

#navbar-links a{
    color: #fff !important;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1rem .8rem;
}

/* Main Slider */
.container-fluid{
    padding: 0;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item{
    height: 70vh ;
}

#mainSlider .carousel-caption{
    top:20% !important;
}

#mainSlider .carousel-caption h2{
    font-size: 50px;
    margin-bottom: 30px;
}

#mainSlider .carousel-caption p{
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 100px !important;
    color: #fff !important;
}

.main-btn{
    background-color: #65DAF9 !important;
    color: #fff !important;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
    margin-bottom: 20px !important;
}

.main-btn:hover{
    text-decoration: none;
    background-color: transparent !important;
    color: #fff !important;
    border: 3px solid #fff;
    border-color: #65DAF9;
}

.carousel-indicators .active{
    background-color: #65DAF9 !important
}